h1 {
    text-align: center;
}

ul {
    float: left;
    
}

li {
    display: inline-block;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}


li:hover{
    display: inline-block;
    background-color: red;
    border-radius: 5px;
    color: white;
}

#navBarContainer{
    float: left;
    width: 100%;
    background-color: rgb(223, 219, 219);
    display: inline-block;
    border-radius: 5px;
}

#rumiImage{
    height: 73px;
    max-height: 900px;
    max-width: 1200px;
    width: 97px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}